/Source/MicroCloud.API/.vs
/Source/MicroCloud.API/packages
/Source/MicroCloud.API/MicroCloud.API.ClientSide/obj/Debug
/Source/MicroCloud.API/MicroCloud.API.CloudSide/obj/Debug
/Source/MicroCloud.API/MicroCloud.API.ClientSide/bin/MicroCloud.API.ClientSide.dll
/Source/MicroCloud.API/MicroCloud.API.CloudSide/bin/MicroCloud.API.CloudSide.dll
*.pdb
*.user
/Source/MicroCloud.API/MicroCloud.API.ClientSide/obj/Release
/Source/MicroCloud.API/MicroCloud.API.CloudSide/obj/Release
/Source/MicroCloud.API/MicroCloud.API.BL/bin/Debug
/Source/MicroCloud.API/MicroCloud.API.BL/obj/Debug
/Source/MicroCloud.API/MicroCloud.API.CloudSide/bin/MicroCloud.API.BL.dll
/Source/MicroCloud.API/MicroCloud.API.BL/bin/Release
/Source/MicroCloud.API/MicroCloud.API.BL/obj/Release
